:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: auto;
    -moz-osx-font-smoothing: grayscale;
    --light-grad-pink-blue: radial-gradient(ellipse at 40% 0%, #bf398910 0, transparent 75%),
    radial-gradient(ellipse at 60% 0%, #096bde10 0, transparent 75%);
}

.navbar-toggler {
    border: none;
}

.nav-link:hover {
    text-decoration: none;
}

.container .custom-card-div {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 2vw;
    grid-column-gap: 2vw;
}

.container .custom-card-div-middle {
    padding: .2vw;
}

.container .custom-card-div-inside {
    background: var(--light-grad-pink-blue);
}

.custom-card-inner-body {
    overflow: hidden;
    text-align: center;
}

.wizard-card-img {
    border-radius: 50%;
    scale: 78%
}

.card {
    transition: transform .5s;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-property: transform;
    transform: scale(1);
    overflow-x: hidden;
}

.card:hover {
    transform: scale(1.04);
}

html, body {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
}

.nav-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.flex-items-center {
    align-items: center !important;
}

.flex-justify-center {
    justify-content: center !important;
}

.navbar {
    background: var(--light-grad-pink-blue);
}

.main-form-container {
    max-width: 350px;
    padding: 40px 1.5rem 1.5rem;
}

.student-name {
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.main-table {
    width: 99%;
    /*height: 30%;*/
    padding: 2vw;
    overflow: hidden;
    /*border: 1px dashed orangered;*/
    display: grid;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh auto auto;
}

table {
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

table th,
table td {
    vertical-align: middle;
}

.day {
    text-align: center;
}

@media screen and (max-width: 768px) {
    table th,
    table td {
        font-size: 0.9em;
    }

    .custom-row {
        width: 364px;
    }

    .container .custom-card-div {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .form-label {
        font-size: 12px;
    }
}