:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-kerning: auto;
  -webkit-font-kerning: auto;
  -moz-osx-font-smoothing: grayscale;
  --light-grad-pink-blue: radial-gradient(
      ellipse at 0% 0%,
      #394dbf41 0,
      transparent 75%
    ),
    radial-gradient(ellipse at 100% 0%, #de090940 0, transparent 75%);
}

.navbar-toggler {
  border: none;
}

.loading-container {
  position: relative;
}

.nav-link {
  position: relative;
  border-bottom: 2px solid transparent;
  padding: 0;
  line-height: 24px;
  font-size: .9rem;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #144e88;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav-link.tab-active::after {
  transform: scaleX(1);
}

.navbar-list {
  width: min-content;
  text-wrap: nowrap;
}

.spinner {
  border: 3px solid rgba(0, 0, 0, 0.1);
  border-top: 3px solid #1764b1;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-header {
  text-wrap: nowrap;
  margin-top: 20px;
  margin-bottom: 30px;
}

.home-header h1 {
  font-weight: 300;
}

main {
  flex: 1
}

.container .custom-card-div {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 15% 15% 15% 15%;
  grid-template-rows: 1fr;
  grid-row-gap: 2vw;
  grid-column-gap: 5%;
}

.container .custom-card-div-middle {
  padding: 0.2vw;
  min-width: 140px;
}

.admin-center-header {
  text-wrap: nowrap;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.admin-center-header h1 {
  font-weight: 300;
}

.container .custom-card-div-inside {
  background: #394dbf06;
}

.custom-card-inner-body {
  overflow: hidden;
  text-align: center;
  max-height: 50px;
}

.custom-card-inner-body h4 {
  font-weight: 250;
}

.app-card-img {
  border-radius: 10%;
  scale: 80%;
}

.card {
  transition: transform 0.2s;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: transform;
  transform: scale(1);
  overflow-x: hidden;
}

.card:hover {
  transform: scale(1.02);
}

html,
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  height: 100%;
}

.nav-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#app-nav {
  padding: .7rem 1.5rem;
  height: 3.6 rem;
}

#dropdown-item-container:hover {
  background-color: rgb(13, 110, 253);
}

#dropdown-item-container {
  padding: 5px 5px 5px 8px;
  border-bottom: 1px solid #474e55;
}

.dropdown {
  display: block;
  border-left: 1px solid #474e55;
  border-right: 1px solid #474e55;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 140px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

#main-form-submit-btn {
  margin-top: 3vh;
}

.flex-items-center {
  align-items: center !important;
}

.flex-justify-center {
  justify-content: center !important;
}

.nav-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.main-form-container {
  max-width: 350px;
  padding: 40px 1.5rem 1.5rem;
}

.student-name {
  text-align: left;
}

a {
  text-decoration: none;
}

.main-table {
  padding: 2vw;
  overflow: hidden;
  display: flex;
}

.main-table-header {
  margin-bottom: 10px;
}

.main-table-header h1 {
  font-weight: 250;
}

#main-form-header-div {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 90%;
}

.main-form-logo {
  height: 80px;
  width: 80px;
}

.shining-green-check {
  opacity: 0;
  transform: scale(0.5);
  animation: shine-in 0.5s ease forwards, shine 0.5s infinite alternate;
}

@keyframes shine-in {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shine {
  from {
    filter: brightness(1);
  }

  to {
    filter: brightness(1.5);
  }
}

table {
  text-align: center;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
}

table th,
table td {
  vertical-align: middle;
}

@media screen and (max-width: 768px) {
  table th,
  table td {
    font-size: 0.82em;
  }

  .custom-row {
    width: 364px;
  }

  .container .custom-card-div {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .form-label {
    font-size: 12px;
  }

  #school-table-inner-div td {
    max-width: 100px;
  }

  #school-table-inner-div {
    grid-template-rows: 50% 50%;
    grid-template-columns: 92% 20%;
    grid-row-gap: 30px;
    grid-column-gap: 7px;
    max-width: 390px;
    overflow: hidden;
  }
}
